.container{
    margin: 0 auto;
    width: 800px;
}

.head{
width: 800px;
height: 110px;
background-color:#f3f3eb;

}

.head img {
width: 250px;
margin: 15px;

}

.navBar{
    width: 800px;
    height: 40px;
    background-color: #969062;
    display: flex;
    align-items: center;
}


.navBar a{
    color: black;
    margin: 75px;
    text-align: center;
    text-align: flex;
    text-size-adjust: 35%;
}

.aboutkonten{
    width: 800px;
    background-color: #eeeeec;
    display: flex;
}

.gambar{
    width: 50%;
}
.gambar img{
   width: 100%;
}
.maincontent{
    width: 50%;
}

.maincontent h3, p{
    text-align: center;
    width: 90%;
    padding-left: 24px;
    
}

.Moto{
    background-color: #969062;
}
.Moto p{
    text-align: center;
    width: 90%;
    padding-left: 4em;
}
footer{
    width: 100%;
    height: 125px;
    background-color:black;
    padding-top: 30px;
}

.Copyright p{
    text-align: center;
    padding-top: 20px;
    color: white;
}


